* {
    box-sizing: border-box;
}

.about-section {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 59px #10565221;
    border-radius: 20px;
    opacity: 1;
    width: 100%;
    margin: 3rem auto;
    height: fit-content;
    position: relative;
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    max-width: 1400px;
}

.skills-section {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px #00000029;
    border-radius: 20px;
    opacity: 1;
    margin: auto;
}

.grid-skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.grid-skill img {
    width: 50px;
    height: 50px;
}

.grid-skill-img {
    padding: 0.5rem;
    text-align: center;
}

.about-heading {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0px;
    color: #105652;

    padding-bottom: 5px;
    border-bottom: 5px solid #FCA738;
    width: fit-content;


}

.about-image {
    width: 50%;
}

.skills-section p {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}

.skills-home {
    font-size: 1.5rem;
}

.flex-grid {

    width: 50%;
}




@media screen and (max-width: 1023px) {


    .about-section p {

        font-size: 1rem;
        padding: 0;
    }


}

@media screen and (max-width: 800px) {
    .about-image {
        width: 100%;

    }

    .about-section {
        margin-top: 1rem;
    }

    .grid-skill-img {
        padding: 0.75rem;
        text-align: center;
    }

    .skills-section {
        position: absolute;
        bottom: -75px;
        width: 95%;
        right: 0;
        left: 0;
    }

    .skills-section p {
        text-align: center;
    }

    .grid-skill {

        justify-content: center;
    }

    .flex-grid {

        width: 95%;
        margin: auto;
    }


}