:root {
    --primary-color: #4338CA;
    --secondary-color: #191F42;
    --light: #E0E7FF;
    --white: white;
    --prj-bg: #ddedec;
    --text: black;
    --prj-heading: #191F42;
    --popup-btn: #4338CA;
    --skill-names: #191F42;
    --abs-bg: #191F42;
}





* {
    box-sizing: border-box;
}


.contact-form {
    color: #105652;
    max-width: 1400px;
    margin: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;

    padding: 1rem;
    margin-right: 0;
}

h2 {
    font-weight: 600;
}

.contact-div1 {
    width: 50%;
}

input {
    font-size: 1.25rem;

    color: var(--text);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E0E0E0;
    outline: none;

    padding: 0.5rem;
    width: 100%;
    border-radius: 0.25rem;
}

label {
    font-size: 1rem;
}

.btn-form {
    padding: 0.75rem 2rem;
    background: #FCA738 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: var(--white);
    outline: none;
    border: 0;
}

.btn-form:hover {


    background-color: var(--secondary-color);

}

.contacts-icons {
    font-size: 1rem;

    margin-top: 2rem;
    color: #858585;

}

.contacts-icon {
    font-size: 1.5rem;
    margin-right: 1rem;


}

form {
    background: #FBF3E4 0% 0% no-repeat padding-box;
    border-radius: 0px 10px 10px 0px;
    opacity: 1;
    padding: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}

textarea {
    font-size: 1.25rem;

    color: var(--text);
    display: block;
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E0E0E0;
    outline: none;

    padding: 0.5rem;
    height: 120px;
    border-radius: 0.25rem;
    resize: vertical;
}

@media screen and (max-width: 953px) {
    form {
        width: 100%;
    }

    .contact-div1 {
        width: 90%;
    }

    .btn-form {
        width: 100%;
    }

    .contact-form {
        display: flex;
        flex-direction: column;


        gap: 1rem;
        width: 90%;
        margin: auto;
        padding: 1rem 0;

    }



    .contacts-icon {
        font-size: 1rem;
        margin-right: 0.5rem;


    }



}



.maion-res {
    position: relative;
    height: 100%;
    width: 100%;
}

.resume-circle {
    height: 25px;
    border-radius: 50%;
    width: 25px;
    background-color: var(--secondary-color);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 10rem auto;
}

.line-resume {
    width: 5px;
    height: 400px;
    background-color: var(--secondary-color);
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;

    margin: 10rem auto;
}

.footer-area {
    height: 94px;
    background: #FBF3E4 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    font-weight: 500;
}


#Contact {
    padding-bottom: 5px;
    border-bottom: 5px solid #FCA738;
    width: fit-content;
    margin: auto;
}